In [1]:
import pandas as pd

import numpy as np

In [2]:
data1 = pd.read_csv( 'D:/arc classes/Paython/pandas/Customer.csv',header=0)

In [3]:
data1

,Customer ID,Customer Name,Segment,Age,Country,City,State,Postal Code,Region
0,CG-12520,Claire Gute,Consumer,67,United States,Henderson,Kentucky,42420,South
1,DV-13045,Darrin Van Huff,Corporate,31,United States,Los Angeles,California,90036,West
2,SO-20335,Sean O'Donnell,Consumer,65,United States,Fort Lauderdale,Florida,33311,South
3,BH-11710,Brosina Hoffman,Consumer,20,United States,Los Angeles,California,90032,West
4,AA-10480,Andrew Allen,Consumer,50,United States,Concord,North Carolina,28027,South
...,...,...,...,...,...,...,...,...,...
788,CJ-11875,Carl Jackson,Corporate,64,United States,Philadelphia,Pennsylvania,19140,East
789,RS-19870,Roy Skaria,Home Office,39,United States,Burlington,Iowa,52601,Central
790,SC-20845,Sung Chung,Consumer,69,United States,Arlington Heights,Illinois,60004,Central
791,RE-19405,Ricardo Emerson,Consumer,35,United States,Kent,Ohio,44240,East
792,SM-20905,Susan MacKendrick,Consumer,46,United States,Newark,Ohio,43055,East

In [4]:
data1.head

<bound method NDFrame.head of     Customer ID      Customer Name      Segment  Age        Country  \
0      CG-12520        Claire Gute     Consumer   67  United States
1      DV-13045    Darrin Van Huff    Corporate   31  United States
2      SO-20335     Sean O'Donnell     Consumer   65  United States
3      BH-11710    Brosina Hoffman     Consumer   20  United States
4      AA-10480       Andrew Allen     Consumer   50  United States
..          ...                ...          ...  ...            ...
788    CJ-11875       Carl Jackson    Corporate   64  United States
789    RS-19870         Roy Skaria  Home Office   39  United States
790    SC-20845         Sung Chung     Consumer   69  United States
791    RE-19405    Ricardo Emerson     Consumer   35  United States
792    SM-20905  Susan MacKendrick     Consumer   46  United States

                  City           State  Postal Code   Region
0            Henderson        Kentucky        42420    South
1          Los Angeles      California        90036     West
2      Fort Lauderdale         Florida        33311    South
3          Los Angeles      California        90032     West
4              Concord  North Carolina        28027    South
..                 ...             ...          ...      ...
788       Philadelphia    Pennsylvania        19140     East
789         Burlington            Iowa        52601  Central
790  Arlington Heights        Illinois        60004  Central
791               Kent            Ohio        44240     East
792             Newark            Ohio        43055     East

[793 rows x 9 columns]>

In [5]:
custdata= pd.read_csv('D:/arc classes/Paython/pandas/Customer.csv',header=0 , index_col=0 )

In [6]:
custdata

,Customer Name,Segment,Age,Country,City,State,Postal Code,Region
Customer ID,,,,,,,,
CG-12520,Claire Gute,Consumer,67,United States,Henderson,Kentucky,42420,South
DV-13045,Darrin Van Huff,Corporate,31,United States,Los Angeles,California,90036,West
SO-20335,Sean O'Donnell,Consumer,65,United States,Fort Lauderdale,Florida,33311,South
BH-11710,Brosina Hoffman,Consumer,20,United States,Los Angeles,California,90032,West
AA-10480,Andrew Allen,Consumer,50,United States,Concord,North Carolina,28027,South
...,...,...,...,...,...,...,...,...
CJ-11875,Carl Jackson,Corporate,64,United States,Philadelphia,Pennsylvania,19140,East
RS-19870,Roy Skaria,Home Office,39,United States,Burlington,Iowa,52601,Central
SC-20845,Sung Chung,Consumer,69,United States,Arlington Heights,Illinois,60004,Central
RE-19405,Ricardo Emerson,Consumer,35,United States,Kent,Ohio,44240,East
SM-20905,Susan MacKendrick,Consumer,46,United States,Newark,Ohio,43055,East

In [7]:
custdata.describe()

              Age   Postal Code
count  793.000000    793.000000
mean    44.467844  55229.717528
std     15.526673  31679.223816
min     18.000000   1841.000000
25%     31.000000  27217.000000
50%     45.000000  55901.000000
75%     58.000000  90004.000000
max     70.000000  99207.000000